@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../../public/GeneralSans-Variable.woff2') format('woff2'),
         url('../../public/GeneralSans-Variable.woff') format('woff'),
         url('../../public/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #FFFFFF,#FAFCFF 30%)
}

html {
    scroll-behavior: smooth;
}