@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeneralSans-Variable';
    src: local('GeneralSans-Variable'), url('../../GeneralSans-Variable.woff2') format('woff2'),
         url('../../GeneralSans-Variable.woff') format('woff'),
         url('../../GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #FFFFFF,#FAFCFF 30%);
    font-family: 'GeneralSans-Variable', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}